/* This provides some nice defaults to override browser styles for consistency */
@tailwind base;

/* Uncomment this if you need tailwind components */
/* @tailwind components; */

/* All the fun things start here */
@tailwind utilities;

* {
  /*
    Don't have to always explicitly make a parent relative when I want to
    absolutely position an element. No harm in just making everything relative
  */
  position: relative;
}

html {
  font-family: Inter, 'Segoe UI', 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

svg {
  flex-shrink: 0;
}

div,
input,
textarea,
select,
button,
button:focus,
a,
a:focus {
  outline: none;
}

span {
  display: inline-block;
}
